/CircuitSimulation/CircuitSimulation/obj
/CircuitSimulation/CircuitSimulation/bin
/CircuitSimulation/CircuitSimulation.Tests/obj
/CircuitSimulation/CircuitSimulation.Tests/bin
/CircuitSimulation/CircuitSimulation.v11.suo
/CircuitSimulation/TestResults
